
  {% extends 'base.html' %}
  {% block content %}

  <div class = "card col-md-8" style="height:100vh">
    <h2 style="margin-top:15px">Edit team member</h2>
  <h4 style="color:#808080">Edit contact info , location and role</h4>
  <h4>Info</h4>

  <form method = "post">
  
    {% csrf_token %}
    {% for field in form %}
    <div class="mt-2">
        
        {% if field.label == 'User type' %}
        <h4>Role</h4> 
        {% endif %}
        {{ field }}
        {{ field.errors }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
{% endfor %}
<a href= /members/{{ form.instance.id }}/delete><button class="mt-4 btn btn-light" type = "button" style="color:red">Delete</button></a>    
<button type="submit" class="mt-4 btn btn-primary" style = "margin-left:150px">Save</button>
    <br><br>
    </div>
</form>
{% endblock %}
