  {% extends 'base.html' %}
  {% block content %}
<a href="/members/create"><i class="fas fa-plus fa-2x mt-5" style="float:right;color:blue"></i></a>
<div class="container-fluid card mb-3">

<h1>Team Members</h1>
{% if  object_list|length == 1 %}
<h4 style="color:#808080">You have {{ object_list | length }} member</h4>
{% else %}
<h4 style="color:#808080">You have {{ object_list | length }} members</h4>
{% endif %}
{% for member in object_list %}
<div class = "card col-md-8">
<div class="col-md-4" style="display:flex">
<a href = /members/{{ member.id }}/update>
    <i class="fa fa-user fa-5x mt-5 card-img" style="float:right;color:black"></i>
<div class ="card-body">
<p class = "card-title" style="color:black"><b>{{ member.first_name }}   {{member.last_name }} {% if member.user_type == 'USER_ADMIN' %}(admin){% endif %}</b></p>
<p class = "card-text" style="color:#808080"><b>{{ member.phone }}</b></p>
<div class="card-text" style="color:#808080"><b>{{  member.email }}</b></div>
</a>
</div>
</div>
</div>
{% endfor %}
{% endblock %}